html,
body {
	margin: 0;
	min-height: 100%;
	font-family: system-ui, sans-serif;
}

header {
	display: flex;
	background: #ddd;
}

header > nav {
	flex: 1;
	display: flex;
}

header > nav a {
	padding: 10px;
	color: #673ab8;
	text-decoration: none;
}

header > nav a:hover {
	background-color: #f1e9ff;
}

header > label {
	display: flex;
	align-items: center;
	padding: 10px;
	color: #555;
	font-size: 80%;
}

header input {
	border: none;
	border-radius: 3px;
	padding: 2px 5px;
	font-size: 100%;
}

.app > section {
	padding: 20px;
}


[class*='troop'].oncooldown {
	background: linear-gradient(to right, #f7456370 50%, #ffffff70 50%);
	background-size: 200% 100%;
	background-position: 99% 0%;
	animation: linear 0s 1 none cooldown;
	animation-duration: 3s;
}
@keyframes cooldown {
    0% {
        background-position: 00% 0%;
	}
    100% {
        background-position: 100% 0%;
        
    }
}

.map {
	max-height: calc(100vh - 39px);
	max-width: 100vw;
}


.LineChart {
	position: relative;
	padding-left: 40px;
	padding-bottom: 40px;
}

.LineChart svg {
	fill: none;
	stroke: #33C7FF;
	display: block;
	stroke-width: 2px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.x-axis {
	position: absolute;
	bottom: 0;
	height: 40px;
	left: 40px;
	right: 0;
	display: flex;
	justify-content: space-between;
}

.y-axis {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	bottom: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.y-axis > div::after {
	margin-right: 4px;
	content: attr(data-value);
	color: black;
	display: inline-block;
}

.x-axis > div::after {
	margin-top: 4px;
	display: inline-block;
	content: attr(data-value);
	color: black;
}
